In [18]:
from eye_plus import PlaneZone, eye_good_result
import pybaseball as pb
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option("display.max_columns",100)

In [2]:
# uncomment this if you are downloading for the first time# %%time
# statcast = pb.statcast("2019-03-28", "2019-10-01")# statcast.to_pickle("statcast2019.pkl")

In [4]:
def get_edge(df):
    zone = PlaneZone(top=df.sz_top.mean(), bottom=df.sz_bot.mean())
    ext_zone = zone.extended_zone()
    result_df = df.copy()
    result_df["in_zone"] = result_df.apply(lambda x: zone.is_pitch_in_zone(x.plate_x,x.plate_z) ,axis=1)
    result_df["in_ext_zone"] = result_df.apply(lambda x: ext_zone.is_pitch_in_zone(x.plate_x,x.plate_z) ,axis=1)
    result_df = result_df[(~result_df.in_zone) & (result_df.in_ext_zone)]
    result_df["good_eye"] = result_df.apply(eye_good_result, axis=1)
    return result_df

In [5]:
%%time
stat_edge = get_edge(pd.read_pickle("statcast2019.pkl"))

CPU times: user 58.9 s, sys: 7.08 s, total: 1min 5s
Wall time: 1min 42s

In [94]:
eye_2019 = stat_edge.groupby(["batter"]).agg({"batter" : "size", "good_eye" : {"good_results" : "sum", "eye" : "mean"}})
eye_2019

         batter     good_eye
           size good_results       eye
batter
282332.0      3          1.0  0.333333
405395.0    493        340.0  0.689655
408234.0    512        336.0  0.656250
425772.0    221        142.0  0.642534
425783.0    657        495.0  0.753425
...         ...          ...       ...
670712.0    148         90.0  0.608108
670950.0     30         22.0  0.733333
670970.0      1          0.0  0.000000
671790.0      4          2.0  0.500000
676606.0     14          8.0  0.571429

[937 rows x 3 columns]

In [96]:
eye_2019.columns =  ["edge_chances", "good_result", "eye"]
eye_2019 = eye_2019.assign(eye_plus= lambda x: x.eye/x.eye.mean() * 100)

In [97]:
eye = eye_2019.reset_index().merge(pb.playerid_reverse_lookup(eye_2019.index), left_on="batter", right_on="key_mlbam")

Gathering player lookup table. This may take a moment.

In [98]:
eye_over_100 = eye.query("edge_chances > 100")

In [99]:
eye_over_100

,batter,edge_chances,good_result,eye,eye_plus,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
1,405395.0,493,340.0,0.689655,105.009255,pujols,albert,405395,pujoa001,pujolal01,1177,2001.0,2019.0
2,408234.0,512,336.0,0.656250,99.922869,cabrera,miguel,408234,cabrm001,cabremi01,1744,2003.0,2019.0
3,425772.0,221,142.0,0.642534,97.834414,mathis,jeff,425772,mathj001,mathije01,3448,2005.0,2019.0
4,425783.0,657,495.0,0.753425,114.719014,choo,shin-soo,425783,choos001,choosh01,3174,2005.0,2019.0
8,425877.0,379,225.0,0.593668,90.393850,molina,yadier,425877,moliy001,molinya01,7007,2004.0,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,669257.0,195,145.0,0.743590,113.221517,smith,will,669257,smitw003,smithwi05,19197,2019.0,2019.0
925,669374.0,313,192.0,0.613419,93.401203,hiura,keston,669374,hiurk001,hiurake01,20003,2019.0,2019.0
929,670032.0,353,253.0,0.716714,109.129306,lopez,nicky,670032,lopen001,lopezni01,19339,2019.0,2019.0
931,670541.0,348,258.0,0.741379,112.884949,alvarez,yordan,670541,alvay001,alvaryo01,19556,2019.0,2019.0
932,670712.0,148,90.0,0.608108,92.592620,brosseau,mike,670712,brosm001,brossmi01,19683,2019.0,2019.0

In [131]:
out = eye_over_100[["name_first", "name_last", "edge_chances", "good_result", "eye", "eye_plus"]].assign(rank=lambda x: x["eye_plus"].rank(ascending=False)).sample(50).sort_values("rank")
out

,name_first,name_last,edge_chances,good_result,eye,eye_plus,rank
117,alex,avila,184,153.0,0.831522,126.610343,6.0
525,nick,martini,118,93.0,0.788136,120.004220,21.0
753,matt,thaiss,168,131.0,0.779762,118.729214,30.0
17,curtis,granderson,394,303.0,0.769036,117.095980,41.0
292,roberto,perez,462,352.0,0.761905,116.010224,52.0
528,joe,panik,469,350.0,0.746269,113.629417,65.0
908,jake,rogers,132,97.0,0.734848,111.890543,87.0
58,asdrubal,cabrera,504,369.0,0.732143,111.478575,93.0
709,austin,meadows,579,423.0,0.730570,111.239078,99.0
187,dj,lemahieu,593,433.0,0.730185,111.180540,100.0
80,justin,upton,255,186.0,0.729412,111.062729,102.5
267,travis,shaw,274,199.0,0.726277,110.585476,113.0
587,carson,kelly,364,264.0,0.725275,110.432810,116.0
113,ryan,zimmerman,166,120.0,0.722892,110.069942,120.0
429,xander,bogaerts,725,521.0,0.718621,109.419643,126.0
206,wilmer,flores,253,181.0,0.715415,108.931537,133.0
793,mike,ford,147,105.0,0.714286,108.759585,138.0
29,kurt,suzuki,251,179.0,0.713147,108.586263,139.0
298,elias,diaz,318,222.0,0.698113,106.297104,178.0
517,j. d.,davis,433,302.0,0.697460,106.197581,182.0
305,domingo,santana,452,314.0,0.694690,105.775915,189.0
55,tyler,flowers,283,195.0,0.689046,104.916490,204.0
405,hunter,renfroe,457,313.0,0.684902,104.285449,217.0
153,mike,freeman,178,121.0,0.679775,103.504909,224.0
97,elvis,andrus,627,421.0,0.671451,102.237479,241.0
602,kevin,plawecki,152,102.0,0.671053,102.176768,245.0
282,max,stassi,108,72.0,0.666667,101.508946,252.0
751,dominic,smith,188,125.0,0.664894,101.238976,258.0
106,carlos,gonzalez,164,109.0,0.664634,101.199468,259.0
820,adam,haseley,222,147.0,0.662162,100.823075,266.5
497,renato,nunez,576,380.0,0.659722,100.451561,277.0
304,gregory,polanco,163,107.0,0.656442,99.952060,283.0
343,chris,owings,178,116.0,0.651685,99.227846,291.0
393,jacoby,jones,307,200.0,0.651466,99.194410,292.0
177,travis,d'arnaud,359,233.0,0.649025,98.822776,298.0
63,charlie,blackmon,579,375.0,0.647668,98.616204,302.0
99,melky,cabrera,343,220.0,0.641399,97.661668,313.0
739,tim,locastro,242,155.0,0.640496,97.524091,316.5
881,scott,kingery,498,315.0,0.632530,96.311199,340.0
110,yonder,alonso,334,209.0,0.625749,95.278607,355.0
134,eduardo,escobar,690,429.0,0.621739,94.668126,362.0
794,rafael,devers,644,398.0,0.618012,94.100685,367.0
488,maikel,franco,345,213.0,0.617391,94.006111,370.0
179,derek,dietrich,287,177.0,0.616725,93.904617,372.0
640,lewis,brinson,248,152.0,0.612903,93.322741,379.0
380,nick,castellanos,581,351.0,0.604131,91.987023,395.0
668,johan,camargo,234,141.0,0.602564,91.748471,397.0
306,erik,gonzalez,125,72.0,0.576000,87.703729,423.0
176,charlie,culberson,132,74.0,0.560606,85.359796,432.0
311,jonathan,schoop,375,210.0,0.560000,85.267515,433.0

In [129]:
import tabulate

def pprint_df(df, drop_index=True):
    return tabulate.tabulate(df.reset_index(drop=drop_index).fillna(0).values, df.columns, tablefmt="pipe")

In [130]:
print(pprint_df(out))

| name_first   | name_last   |   edge_chances |   good_result |      eye |   eye_plus |   rank |
|:-------------|:------------|---------------:|--------------:|---------:|-----------:|-------:|
| luis         | arraez      |            338 |           267 | 0.789941 |   120.279  |   19   |
| mike         | tauchman    |            287 |           220 | 0.766551 |   116.718  |   47   |
| francisco    | cervelli    |            154 |           118 | 0.766234 |   116.669  |   48   |
| austin       | barnes      |            229 |           173 | 0.755459 |   115.029  |   60   |
| matt         | chapman     |            670 |           499 | 0.744776 |   113.402  |   66   |
| yandy        | diaz        |            327 |           241 | 0.737003 |   112.219  |   84   |
| george       | springer    |            547 |           400 | 0.731261 |   111.344  |   95   |
| harrison     | bader       |            379 |           277 | 0.730871 |   111.285  |   96   |
| martin       | prado       |            218 |           159 | 0.729358 |   111.055  |  104   |
| adam         | eaton       |            676 |           492 | 0.727811 |   110.819  |  106.5 |
| kyle         | schwarber   |            582 |           423 | 0.726804 |   110.666  |  110   |
| travis       | shaw        |            274 |           199 | 0.726277 |   110.585  |  113   |
| michael      | brantley    |            546 |           394 | 0.721612 |   109.875  |  123   |
| wilmer       | flores      |            253 |           181 | 0.715415 |   108.932  |  133   |
| phil         | ervin       |            270 |           193 | 0.714815 |   108.84   |  135   |
| victor       | caratini    |            255 |           180 | 0.705882 |   107.48   |  155.5 |
| christian    | walker      |            552 |           387 | 0.701087 |   106.75   |  168   |
| jorge        | soler       |            673 |           470 | 0.698366 |   106.336  |  176   |
| jesus        | aguilar     |            364 |           254 | 0.697802 |   106.25   |  179   |
| tony         | kemp        |            244 |           170 | 0.696721 |   106.085  |  184   |
| josh         | naylor      |            296 |           206 | 0.695946 |   105.967  |  186   |
| paul         | dejong      |            613 |           423 | 0.690049 |   105.069  |  198   |
| mark         | reynolds    |            148 |           102 | 0.689189 |   104.938  |  203   |
| max          | kepler      |            517 |           350 | 0.676983 |   103.08   |  232   |
| greg         | allen       |            231 |           155 | 0.670996 |   102.168  |  246   |
| nomar        | mazara      |            497 |           333 | 0.67002  |   102.02   |  248   |
| max          | stassi      |            108 |            72 | 0.666667 |   101.509  |  252   |
| adam         | haseley     |            222 |           147 | 0.662162 |   100.823  |  266.5 |
| ramon        | laureano    |            440 |           289 | 0.656818 |   100.009  |  282   |
| matt         | adams       |            316 |           207 | 0.655063 |    99.7422 |  286   |
| melky        | cabrera     |            343 |           220 | 0.641399 |    97.6617 |  313   |
| wilson       | ramos       |            404 |           258 | 0.638614 |    97.2375 |  324   |
| bo           | bichette    |            200 |           127 | 0.635    |    96.6873 |  333   |
| orlando      | arcia       |            460 |           292 | 0.634783 |    96.6542 |  334   |
| austin       | romine      |            216 |           137 | 0.634259 |    96.5745 |  336   |
| scott        | kingery     |            498 |           315 | 0.63253  |    96.3112 |  340   |
| oscar        | mercado     |            413 |           261 | 0.631961 |    96.2246 |  343   |
| lourdes      | gurriel     |            333 |           209 | 0.627628 |    95.5647 |  351   |
| gleyber      | torres      |            560 |           347 | 0.619643 |    94.3489 |  364   |
| james        | mccann      |            437 |           270 | 0.617849 |    94.0758 |  368   |
| victor       | robles      |            561 |           345 | 0.614973 |    93.6379 |  375   |
| jeff         | mcneil      |            493 |           302 | 0.612576 |    93.2729 |  380   |
| rafael       | ortega      |            101 |            61 | 0.60396  |    91.9611 |  396   |
| leonys       | martin      |            246 |           147 | 0.597561 |    90.9867 |  399   |
| daniel       | palka       |            106 |            63 | 0.59434  |    90.4962 |  406.5 |
| didi         | gregorius   |            342 |           201 | 0.587719 |    89.4881 |  414   |
| eric         | hosmer      |            617 |           360 | 0.583468 |    88.8409 |  419   |
| avisail      | garcia      |            439 |           252 | 0.574032 |    87.4041 |  425   |
| scooter      | gennett     |            122 |            69 | 0.565574 |    86.1162 |  429   |
| yairo        | munoz       |            144 |            74 | 0.513889 |    78.2465 |  443   |